<h1>Lego App</h1>
<br />
<h2>Manage</h2>
<p>
    Manage your builds from start to finish.
    Lego App comes with all the functionality you need to facilitate your build.
</p>

<h2>Share</h2>
    Upload pictures of your builds to look at later and share with the Lego App community.
<p>

</p>

<h2>Archive</h2>
<p>
    Save your instructions and documentation for use later if you ever deconstruct your sets.
</p>

<%= link_to "Sets", sets_path, class: "btn btn-primary" %>
